<header>
    <div class="header__display">
        <h1>Bom dia, Dude</h1>
        <p>O bitcoin cresceu em um volume de 22.2%</p>
    </div>
    <div class="header__menu">
        <ul class="header__menu__list">
            <li class="header__menu__list__item">Dia</li>
            <li class="header__menu__list__item">Semana</li>
            <li class="header__menu__list__item">Mês</li>
            <li class="header__menu__list__item">Ano</li>
        </ul>
    </div>
    <div class="header__profile">
        <i class="fa-solid fa-user fa-xl"></i>
    </div>
</header>