<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/register.css">
    <link rel="stylesheet" href="styles/login.css">
    <title>Bitcomércio</title>
</head>
<body>
    <div class="register-container">
        <h1>REGISTRAR-SE</h1>
        <form class="register-container__form">
           
                <div class="register-container__form__line">
                    <label for="username">Nome</label>
                    <input type="text" name="username" id="username" class="input">
                </div>
            <div class="register-container__form__line">
                <label for="nickname">Senha</label>
                <input type="text" name="nickname" id="nickname" class="input">
            </div>
            <div class="register-container__form__line">
                <label for="password">Confirme sua senha</label>
                <input type="text" name="password" id="password" class="input">
            </div>
            <div class="register-container__form__line">
                <input type="submit" value="Cadastrar-se" class="input form-login">
            </div>
        </form>
        <p>Já possui uma conta? <a href="/">Login</a></p>
    </div>
</body>
</html>