@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


:root {
    --main-color: linear-gradient(180deg,#F7F8FB, #DADAE7);
    --darker-main-color: #F2F3F3;
    --menu-font-color: #90A7B5;
    --selected: #82CBEB;
    --selected-hover: #54A3FE;

}

body {
    background-image: var(--main-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-left: 5rem;
    margin-right: 5rem;
    height: auto;
}

.app-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 0.1fr 2fr 2fr;
    grid-template-rows: 0.8fr 2fr 2fr;
    grid-template-areas: 
    "currencies currencies currencies"
    "menu currency-performance currency-analysis"
    ". portfolio projections";
    row-gap: 20px;
    column-gap: 10px;
}

.app-container__currencies {
   grid-area: currencies;
   display: flex;
   align-items: center;
}

.app-container__currencies__button {
    flex: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-container__currencies__list {
    display: flex;
    flex: 90%;
    gap: 5px;
}

.app-container__currencies__button> p {
    width: 50px;
    height: 50px;
    background-color: #54A3FE;
    color: white;
    font-size: larger;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency__card {
    background-color: white;
    border-radius: 15px;
    width: 250px;
    height: 85px;
    display: flex;
    transition: 0.5s;
}

.currency__card:hover{
    background-color: black;
    color: white;
}

.currency__card__img {
    flex: 40%;
    width: 50px;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency__card__img > img {
    width: 80%;
    height: auto;
}

.currency__card__data{
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.currency__card__data > p {
    font-family: 'Comfortaa', cursive;
    font-size: larger;
}

.app-container__menu {
    grid-area: menu;
    display: flex;
    height: 100%;
 }

.app-container__menu__list {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.app-container__menu__list__item {
    padding: 20px;
    margin: 0px 20px;
}

.app-container__menu__list__item:hover {
    background-color: var(--darker-main-color);
    border-radius: 25%;
}

.app-container__currency-performance{
    grid-area: currency-performance;
    background-color: white;
    border-radius: 25px;
}

.card-title{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    margin: 15px;
}

.app-container__currency-performance__graph {
    width: 100%;
    background-color: var(--main-color);
}
.app-container__currency-analysis {
    grid-area: currency-analysis;
    background-color: white;
    border-radius: 25px;
}

.app-container__portfolio{
    grid-area: portfolio;
    background-color: white;
    border-radius: 25px;
}

.app-container__projections{
    grid-area: projections;

}