@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


:root {
    --main-color: linear-gradient(180deg,#F7F8FB, #DADAE7);
    --darker-main-color: #F2F3F3;
    --menu-font-color: #90A7B5;
    --selected: #82CBEB;
    --selected-hover: #54A3FE;
    --main-font: 'Comfortaa', cursive;

}

